<% provide :title, t(".title") %>
<h1><%= t(".heading") %></h1>
<p>
  <%= t(".description_html",
    link1: link_to(t(".link1"), t(".link1_url")),
    link2: link_to(content_tag(:em, t(".link2")), t(".link2_url"))
  ).html_safe %>
</p>
