<<<<<<< HEAD
<% provide :title, t(".title") %>
<h1><%= t(".heading") %></h1>
<p>
  <%= t(".description_html",
    link: link_to(t(".link"), t(".link_url"))
=======
<% provide :title, t("static_pages.home.title") %>
<h1><%= t("static_pages.home.heading") %></h1>
<p>
  <%= t("static_pages.home.description_html",
    link: link_to(t("static_pages.home.link"), t("static_pages.home.link_url"))
>>>>>>> 3d7a312 (Update pull_request_template.md)
  ).html_safe %>
</p>
