<div id="<%= dom_id product %>">
  <p>
<<<<<<< HEAD
      <strong><%= t("products.attributes.name") %>:</strong>
=======
    <strong>Name:</strong>
>>>>>>> 28f4749 (chapter_3_4_5)
    <%= product.name %>
  </p>
  <p>
    <%= link_to t("products.show_product"), product_path(product) %>
  </p>
</div>
