<<<<<<< HEAD
<h1><%= t("products.editing_product") %></h1>
=======
<h1>Editing product</h1>
>>>>>>> 28f4749 (chapter_3_4_5)

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to t("products.show_product"), @product %> |
  <%= link_to t("products.back_to_products"), products_path %>
</div>
